<main >
    <div class="container">
        <form name="fvalida" method="post" action="usuario/login"  >

            <div>
        
                <label for="correo" class="form-label">Correo:</label> </br>
                <input name="correo" type="email" id="correo" aria-describedby="emailHelp" required />
        
            </div>
                
            <div>
                
                <label for="contrasenia">Contraseña:</label></br>
                <input id="contrasenia" type="password" name="contrasenia" required />
            
            </div>
    
    
        <button type="submit" class="btn btn-primary" value="Loguear" >Ingresar</button>
        <!--<input type="submit" value="Enviar"  onclick="valida_envia()"/> -->
        <ul>¿No tenés cuenta?<br>
            <a href="usuarioregistrar">¡Registrate!</a>
        </ul>
    
    
        
        
        </form>
    </div>
</main>