<main>
    <img src="public/img/anvorguesa2.png" alt="" class="imagensn">
    
    <h1 class="lobster sntamanio">       
            Sobre Nosotros
    </h1>
    <div class="container">
        <p class="espaciado">
         Anvorguesa nace en Buenos Aires, Argentina, con la premisa de ofrecer hamburguesas y hot dogs de calidad premium, con locales de ambiente moderno, distendido y agradable, diseñados en detalle.
        <br>
         Contamos con nuestra propia planta de producción, donde fabricamos hamburguesas de 100% carne premium de novillo, medallones de pollo y veggie, entre otros. Utilizamos los mejores insumos del mercado, exclusivos y customizados. Nuestros proveedores son grandes socios estratégicos y comparten nuestros valores.
        <br>
        Pioneros del concepto FAST GOOD, nuestra oferta está diseñada para superar las expectativas de los diversos consumidores actuales. La calidad integrada al concepto de fast food conforma nuestra visión: somos el fast food de la nueva generación.
        <br>
        Hoy contamos con más de 25 locales en Argentina, y recientemente abrimos en Uruguay con una proyección de 5 sucursales. En los próximos años, proyectamos el desembarco en Colombia, México, Paraguay, Chile, Ecuador, España, y EEUU. 
        <br>
        Esperamos satisfacer al mercado mundial de hamburguesas ofreciendo calidad y una nueva experiencia FAST GOOD.
        </p>
    </div>
    <div>
        <img src="public/img/fooddibujo.png" class="img-fluid" alt="...">
    </div>
</main>